* {
  font-family: "Helvetica", "Arial", "san-serif";
}

body {
  padding: 0 30px 0 30px;
}
header {
  height: 100px:
  bottom-border: 1px, solid, #cccccc
}
header nav {
  float: right;
}
nav ul {
  padding: 0;
  margin: 40px, 0, o, o;
}
nav, ul, li {
  display: 10px;
}
nav a {
  color: #007bff;
  font-size: 18px;
}
header h3 {
  float: left;
  font-size: 30px;
}